body {
  font-family: "Poppins", sans-serif; }

#first .topbar {
  position: relative;
  margin: 0;
  background: #0a0a0a;
  padding: 8px 0px 11px 0px; }
  #first .topbar .container {
    margin: -7px; }
    #first .topbar .container .firstItems {
      float: left;
      list-style: none; }
      #first .topbar .container .firstItems li {
        display: inline-block;
        margin-left: 38px; }
        #first .topbar .container .firstItems li .a {
          position: absolute;
          cursor: pointer;
          margin-top: -4px;
          text-decoration: none;
          color: white;
          font-size: 12px; }
          #first .topbar .container .firstItems li .a i {
            font-size: 14px;
            margin-right: 6px; }
        #first .topbar .container .firstItems li .t {
          position: absolute;
          cursor: pointer;
          margin-top: -4px;
          left: 27%;
          text-decoration: none;
          color: white;
          font-size: 12px; }
          #first .topbar .container .firstItems li .t i {
            margin-right: 6px;
            font-size: 12px; }
    #first .topbar .container .secondItems {
      position: absolute;
      right: -15%;
      top: 9px;
      float: right;
      list-style: none; }
      #first .topbar .container .secondItems li {
        margin-right: -6px;
        display: inline-block; }
        #first .topbar .container .secondItems li a {
          cursor: pointer;
          margin-top: -4px;
          text-decoration: none;
          color: white;
          font-size: 90%;
          color: white;
          margin-right: 30px; }

#second {
  font-family: "Poppins", sans-serif; }
  #second .navbar-light .navbar-brand {
    margin-left: 6%; }
  #second li a p {
    margin: 0;
    font-weight: 600;
    color: #1a1e1a;
    font-size: 85%;
    margin: 10px 15px 0px 16px;
    -webkit-transition: all 0.3s ease-in-out; }
    #second li a p:hover {
      color: #2bd383;
      -webkit-transition: all 0.3s ease-in-out; }
  #second li.active a p {
    color: #2bd383; }
  #second .search {
    cursor: pointer;
    margin-top: 21px;
    margin-left: 9%;
    font-size: 83%;
    -webkit-transition: all 0.3s ease-in-out; }
    #second .search:hover {
      -webkit-transition: all 0.3s ease-in-out;
      color: #2bd383; }

.mx-auto {
  margin-right: 14% !important; }

#third .sekil {
  position: relative;
  background-image: url("../images/barmaq.jpg");
  width: 100%;
  padding-top: 350px;
  background-repeat: no-repeat;
  background-position: 51% 8px;
  background-attachment: fixed;
  background-size: cover; }
  #third .sekil .container {
    position: absolute;
    top: 39%;
    left: 5%; }
    #third .sekil .container .page-words ul {
      margin-top: -4px;
      margin-left: -42px;
      list-style: none; }
      #third .sekil .container .page-words ul li {
        font-size: 14px;
        font-weight: 500;
        display: inline-block; }
        #third .sekil .container .page-words ul li span .ox {
          font-size: 12px;
          color: #1a1e1a; }
        #third .sekil .container .page-words ul li a {
          font-weight: 500;
          font-size: 14px;
          text-decoration: none;
          color: #1a1e1a;
          -webkit-transition: all 0.3s ease-in-out; }
          #third .sekil .container .page-words ul li a:hover {
            color: #2bd383;
            -webkit-transition: all 0.3s ease-in-out; }
    #third .sekil .container .title {
      font-size: 36px;
      line-height: normal; }
  #third .sekil .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4); }

#fourth {
  margin-top: 100px;
  margin-bottom: 100px; }
  #fourth .card {
    border: 0;
    margin-bottom: 18px; }
    #fourth .card .card-body {
      font-size: 15px; }
    #fourth .card .card-header {
      border-radius: 25px;
      text-decoration: none; }
      #fourth .card .card-header h4 .btn-link:hover {
        text-decoration: none; }
  #fourth .item {
    position: relative; }
  #fourth .owl-theme .owl-nav .owl-prev {
    position: absolute;
    top: 44%;
    left: 4%; }
  #fourth .owl-theme .owl-nav .owl-next {
    position: absolute;
    top: 44%;
    right: 4%; }
  #fourth .owl-theme .owl-dots .owl-dot {
    display: none; }

#fifth {
  margin-top: 140px; }
  #fifth .vip {
    margin-top: 28%;
    margin-left: -30%;
    transition: all 0.4s; }
  #fifth .kartlar {
    margin-bottom: 52px; }
    #fifth .kartlar:hover .all .vip {
      -webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg); }
  #fifth .box-content {
    overflow: hidden;
    padding-right: 20px; }
  #fifth p {
    font-size: 89%;
    font-weight: 400;
    line-height: 24px; }
  #fifth h2 {
    line-height: 36px;
    color: #1a1e1a;
    letter-spacing: 2px;
    margin-bottom: 8px; }
  #fifth .all {
    float: left;
    position: relative; }
  #fifth h2 {
    font-size: 20px; }

#sixth {
  margin-top: 70px; }
  #sixth .backg-picture {
    position: relative;
    background-image: url("../images/6ci.jpg");
    position: relative;
    width: 100%;
    padding-top: 210px;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; }
    #sixth .backg-picture .container {
      position: absolute;
      top: 39%;
      left: 6%; }
      #sixth .backg-picture .container h2 {
        font-size: 36px;
        line-height: normal;
        font-weight: 500;
        color: #fff;
        letter-spacing: 0.2px; }
      #sixth .backg-picture .container .btn-primary {
        position: relative;
        float: right;
        padding: 17px 61px;
        margin-top: 7%;
        align-items: center;
        border-radius: 5px;
        /* margin-right: -30px; */
        border: 1px solid #2bd383;
        z-index: 2; }
        #sixth .backg-picture .container .btn-primary .novbeti {
          position: absolute;
          top: 32%;
          left: 15%;
          font-size: 14px;
          color: #fff;
          text-transform: none;
          line-height: 12px; }
        #sixth .backg-picture .container .btn-primary::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          z-index: -1;
          width: 0%;
          opacity: 0;
          height: 100%;
          background-color: #2bd383;
          transition: all 0.2s linear; }
        #sixth .backg-picture .container .btn-primary:hover::before {
          width: 100%;
          opacity: 1; }

#seventh {
  background: #f5f5f5;
  padding-top: 176px;
  padding-bottom: 126px; }
  #seventh .firstrow .title-sec {
    padding-bottom: 79px; }
  #seventh .secondrow .flat-price {
    text-align: center;
    background: #fff;
    position: relative;
    overflow: hidden; }
    #seventh .secondrow .flat-price .price-hed {
      padding-top: 36px;
      margin-bottom: 19px; }
      #seventh .secondrow .flat-price .price-hed .flat-val {
        width: 104px;
        height: 104px;
        border-radius: 50%;
        background: transparent;
        border: 2px solid #2bd383;
        text-align: center;
        padding-top: 26px;
        margin: 0px auto 26px;
        position: relative; }
        #seventh .secondrow .flat-price .price-hed .flat-val .price-number {
          display: block;
          font-size: 36px;
          line-height: 36px;
          color: #1a1e1a; }
        #seventh .secondrow .flat-price .price-hed .flat-val .price-year {
          display: block;
          font-size: 14px;
          line-height: 18px;
          color: #1a1e1a; }
      #seventh .secondrow .flat-price .price-hed .tit-price {
        text-align: center;
        font-size: 20px;
        line-height: 31px;
        color: #1a1e1a;
        letter-spacing: 0.25px; }
    #seventh .secondrow .flat-price .price-content {
      margin-left: -25px;
      list-style: none;
      text-align: center;
      margin-bottom: 17px; }
      #seventh .secondrow .flat-price .price-content li {
        font-size: 14px;
        line-height: 38px;
        color: #969696; }
    #seventh .secondrow .flat-price .price-button {
      margin-bottom: 34px; }
      #seventh .secondrow .flat-price .price-button .new-button {
        position: relative;
        z-index: 2;
        padding: 9px 65px;
        font-size: 15px;
        color: #969696;
        border: 1px solid #2bd383;
        text-decoration: none;
        border-radius: 5px; }
        #seventh .secondrow .flat-price .price-button .new-button:hover {
          border: 1px solid #1a1e1a;
          color: #fff; }
        #seventh .secondrow .flat-price .price-button .new-button::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          z-index: -1;
          width: 0;
          height: 100%;
          opacity: 0;
          background-color: #1a1e1a;
          transition: all 0.3s;
          transition-timing-function: ease-in-out; }
        #seventh .secondrow .flat-price .price-button .new-button:hover::before {
          width: 100%;
          opacity: 1; }

#footer .container {
  max-width: 100%;
  height: 420px;
  background-color: #151515; }
  #footer .container .row {
    width: 100%; }
    #footer .container .row .ibox {
      margin-left: 20px; }
    #footer .container .row .col-3 {
      margin-left: 22px;
      max-width: 23%;
      height: 322px; }
      #footer .container .row .col-3 img {
        margin-top: 86px; }
      #footer .container .row .col-3 p {
        letter-spacing: -0.15px;
        line-height: 21px;
        font-weight: 300;
        color: #737373;
        margin-top: 19px; }
      #footer .container .row .col-3 h2 {
        line-height: 33px;
        text-transform: none;
        color: #fff;
        font-weight: 350;
        letter-spacing: 0.3px;
        font-size: 22px; }
      #footer .container .row .col-3 i {
        margin-top: 10px;
        color: #fff;
        width: 40px;
        height: 40px;
        background: #212121;
        display: inline-block;
        text-align: center;
        line-height: 40px;
        margin-left: 1.5px;
        border-radius: 3px;
        position: relative;
        overflow: hidden;
        cursor: pointer; }
        #footer .container .row .col-3 i:hover {
          background-color: #2bd383;
          transition: all 0.5s; }
      #footer .container .row .col-3 .twitter {
        line-height: 48px;
        text-transform: none;
        color: #fff;
        font-weight: 300;
        margin-top: 87px; }
      #footer .container .row .col-3 .instagram {
        line-height: 48px;
        text-transform: none;
        color: #fff;
        font-weight: 300;
        margin-top: 87px; }
      #footer .container .row .col-3 .container2 .row {
        margin-top: -75px; }
        #footer .container .row .col-3 .container2 .row img {
          margin-left: 10px;
          cursor: pointer;
          position: relative; }
          #footer .container .row .col-3 .container2 .row img::after {
            position: absolute;
            opacity: 0;
            background-color: #2bd383; }
      #footer .container .row .col-3 .subscribe {
        line-height: 48px;
        text-transform: none;
        color: #fff;
        font-weight: 300;
        margin-top: 87px; }
      #footer .container .row .col-3 .form-group {
        margin-top: 20px;
        background-color: #151515;
        color: #f9f9f9; }
      #footer .container .row .col-3 .email {
        color: #f9f9f9;
        font-size: 14.5px;
        font-weight: 400; }
  #footer .container .box {
    margin-top: 88px;
    margin-left: -15px;
    float: left;
    width: 102.31%;
    background-color: #0a0a0a;
    height: 66px;
    position: relative; }
    #footer .container .box p {
      color: #868686;
      font-weight: 400;
      letter-spacing: 0.15px;
      padding-top: 20px;
      padding-left: 90px; }
      #footer .container .box p a {
        color: #2bd383;
        text-decoration: none; }
        #footer .container .box p a:hover {
          color: #868686;
          transition: all 0.4s; }
    #footer .container .box nav {
      margin-top: -50px;
      float: right;
      margin-left: 800px;
      position: absolute;
      background-color: #0a0a0a; }
      #footer .container .box nav li a {
        color: #868686;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 20px;
        margin-left: 10px; }
        #footer .container .box nav li a:hover {
          color: #fff;
          transition: all 0.4s; }
      #footer .container .box nav li .active {
        color: #fff; }

/*# sourceMappingURL=services.css.map */
